.company {
    margin: 50px;
    .container {
        @include container;

        .configure-profile-div {
            @include flexVertical;
            // margin-left: -50%;
            // gap: 3rem;
            border-radius: 30px;
            border: 1px solid $form-control-color;

            .photo {
                img {
                    width: 200px;
                    height: 200px;
                    cursor: pointer;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 70vw;
                height: auto;
                padding: 2rem;
                font-size: 12px;
                border-radius: 30px;
                // border: 1px solid $form-control-color;
                transform: all .3s;
            }
            
            .form-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            #text-area {
                width: 81%;
                height: 100px;
                border-radius: 20px;
                resize: none;
            }

            .form-control {
                @include formControl;

                width: 70%;
            }

            label {
                flex: 1;
            }

            input {
                flex: 4;
                // margin-left: 100px;
            }

            select {
                flex: 4;
            }

            .button-div {
                display: flex;
                flex-direction: row-reverse;
            }

            .button {
                width: 30%;
            }
        }

        .blacklist-company-div, .job-profile-div, .job-applier-div {
            margin-top: 20px;
            // display: flex;
            // flex-direction: row;
            // gap: 20px;
            border: 1px solid $form-control-color;
            border-radius: 30px;

            .empty-msg {
                font-size: 1.1rem;
                font-weight: bold;
                width: 80vw;
                text-align: center;
            }

            .pageMsg {
                position: absolute;
                margin-left: 30px;
                margin-top: 10px;
            }

            .page__wrapper {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;

                button {
                    background: rgb(221, 220, 220);
                    color: $color-secondary;
                    border: none;
                    width: 30px;
                    height: 30px;
                    margin: 2px;
                }

                .button-current {
                    background: $color-white-light;
                    color: $color-green;
                }
            }

            // .company_blacklist {
            //     display: flex;
            //     justify-content: space-between;
            // }
        }
    }

    .company_blacklist {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        p {
            font-size: 1rem;
            padding: 6px 0 0 15px;
            // font-weight: bold;
        }

        button {
            // padding: 5px;
            margin: 0;
            border: none;
            background: #a9a9a9;
            width: 20%;
        }
    }

    .modal, .child-modal, .answer-modal, .blacklist-modal {
        z-index: 5;
        margin: 0;
        padding: 0;
        background: white;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 65vw;
        // height: 38vw;
        width: 70%;
        border: 1px solid $form-control-color;
        border-radius: 35px;

        .modal-blacklist-hide {
            position: relative;
            top: 1.3rem;
            left: 92%;
            background-color: $color-white;
            border: none;
            font-size: 1.5rem;

            i:hover {
                color: red;
            }
        }

        .blacklist-head-container {
            h1 {
                text-align: center;
            }

            .blacklist-container {
                display: flex;
                // border: 1px solid red;
                
                .blacklist-hr {
                    // height: 90%;
                }
                
                .blacklist-body-container, .users-body-container {
                    padding: 5px;
                    // border: 2px solid red;
                    width: 100%;

                    .blacklist-item-container, .users-item-container {
                        // margin-top: 10px;
                        // margin: 10px 5px 15px 5px;
                        padding: 2px 7px 2px 7px;
                        overflow: scroll;
                        // column-gap: 20px;
                        // gap: 20px;
                        // border: 2px solid black;
                        // border-radius: 50px;
                        // border: 1px solid black;
                        width: 100%;
                        height: 50vh;

                        .empty-msg {
                            width: unset;
                        }
    
                        .blacklist__wrapper {
                            display: flex;
                            justify-content: space-between;
                            padding: 5px;

                            p {
                                padding-top: 4.5px;
                            }

                            button {
                                border: none;
                                padding: 7px;
                                color: white;
                                border-radius: 5px;
                                width: 20%;
                            }

                            .blacklist-button {
                                background: $color-green;
                            }

                            .unblacklist-button {
                                background: $color-danger;
                            }
                        }
                    }
                }
            }
        }

        .modal-container {
            @include flexVertical;
            padding: 20px;
            
            .photo {
                img {
                    width: 200px;
                    height: 200px;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 50vw;
                height: auto;
                padding: 2rem;
                font-size: 12px;
                border-radius: 30px;
                // border: 1px solid $form-control-color;
                transform: all .3s;
            }
            
            .form-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            .form-row-datetime {
                display: flex;
                align-items: center;
                // justify-content: end;
                margin-bottom: 10px;

                label {
                    // flex: 1;
                }
                div {
                    flex: 2;

                    input {
                        // margin-left: 20px;
                    }

                    // label {
                    //     flex: 3;
                    // }

                    // input {
                    //     flex: 1;
                    //     background-color: red;
                    // }
                }
            }

            #text-area {
                width: 81%;
                height: 100px;
                border-radius: 20px;
                resize: none;
            }

            .form-control {
                @include formControl;

                width: 70%;
            }

            label {
                flex: 1;
            }

            input {
                flex: 4;
                // margin-left: 100px;
            }

            select {
                flex: 4;
            }

            .button-div {
                display: flex;
                flex-direction: row-reverse;
                column-gap: 10px;
            }

            .button {
                width: 28%;
            }

            .button-cancel {
                background: #a9a9a9;
            }
        }
    }

    .applier-detail, .profile-detail, .job-detail {
        z-index: 5;
        margin: 0;
        padding: 0;
        background: white;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 65vw;
        // height: 38vw;
        width: 55%;
        padding: 5px 10px 30px 10px;
        border: 1px solid $form-control-color;
        border-radius: 35px;

        .applier-detail-hide {
            position: relative;
            top: 1.3rem;
            left: 92%;
            background-color: $color-white;
            border: none;
            font-size: 1.5rem;

            i:hover {
                color: red;
            }
        }

        .applier-detail-container {
            // @include flexVertical;
            // padding: 20px;
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
            }

            .applier-detail-row {
                margin-left: 25px;
                display: flex;

                #text-area {
                    width: 100%;
                    height: 100px;
                    resize: none;
                    border: none;
                    margin-top: -15px;
                    position: relative;
                    font-size: 1rem;
                    padding-left: 3px;
                    border-radius: 0px;
                    margin-left: 5px;
                }

                :nth-child(1) {
                    flex: 1;
                    // background: red;
                }

                :nth-child(2) {
                    flex: 4;
                    // background: blue;
                    // font-weight: bold;
                }

                p {
                    margin-bottom: 5px;
                    // font-size: 0.9rem;
                }

                .applier-detail-button {
                    padding: 1px 10px;
                    border-radius: 7px;
                }

                .applier-detail-button:hover {
                    background-color: white;
                }
            }

            &-button {
                // margin-top: 100px;
                margin-top: -10px;
                display: flex;
                // gap: 20px;
                // justify-content: space-around;
                justify-content: center;
                gap: 10px;

                button {
                    width: 45%;
                    height: 35px;
                    border-radius: 20px;
                    border: none;
                    // background-color: white;
                }

                .btn-reject {
                    // background-color: $color-secondary;
                }

                .btn-accept {
                    // background-color: rgb(25, 255, 25);
                }

                .btn-reject:hover {
                    border: 1px solid red;
                }

                .btn-accept:hover {
                    border: 1px solid green;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 50vw;
                height: auto;
                padding: 2rem;
                font-size: 12px;
                border-radius: 30px;
                // border: 1px solid $form-control-color;
                transform: all .3s;
            }
            
            .form-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            .form-control {
                @include formControl;

                width: 70%;
            }

            label {
                flex: 1;
            }

            input {
                flex: 4;
                // margin-left: 100px;
            }

            select {
                flex: 4;
            }

            .button-div {
                display: flex;
                flex-direction: row-reverse;
                column-gap: 10px;
            }

            .button {
                width: 28%;
            }

            .button-cancel {
                background: #a9a9a9;
            }
        }
    }

    .profile-detail, .job-detail {
        z-index: 7;
    }

    .answer-modal {
        z-index: 10;
        width: 55%;

        h1 {
            text-align: center;
            margin: 15px 0px 10px 0px;
        }
    }
}