.profile {
    margin: 50px;
    .container {
        @include container;

        .configure-div {
            @include flexVertical;
            // margin-left: -50%;
            // gap: 3rem;
            border-radius: 30px;
            border: 1px solid $form-control-color;

            .photo {
                img {
                    width: 200px;
                    height: 200px;
                    cursor: pointer;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 70vw;
                height: auto;
                padding: 2rem;
                font-size: 12px;
                border-radius: 30px;
                // border: 1px solid $form-control-color;
                transform: all .3s;
            }
            
            .form-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            .form-control {
                @include formControl;

                width: 70%;
            }

            label {
                flex: 1;
            }

            input {
                flex: 4;
                // margin-left: 100px;
            }

            select {
                flex: 4;
            }

            .button-div {
                display: flex;
                flex-direction: row-reverse;
            }

            .button {
                width: 30%;
            }
        }
    }
}