.profile {
    margin: 50px;
    .container {
        @include container;

        .configure-div {
            @include flexVertical;
            // margin-left: -50%;
            // gap: 3rem;
            border-radius: 30px;
            border: 1px solid $form-control-color;

            .photo {
                img {
                    width: 200px;
                    height: 200px;
                    cursor: pointer;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 70vw;
                height: auto;
                padding: 2rem;
                font-size: 12px;
                border-radius: 30px;
                // border: 1px solid $form-control-color;
                transform: all .3s;
            }
            
            .form-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                
                .form-column-row {
                    display: flex;
                    align-items: center;
                    column-gap: 30px;
                    flex: 4;

                    #btnChange {
                        // position: absolute;
                        // right: 0;
                        // position: absolute;
                        // right: 5%;
                    }

                    #btnCancel {
                        display: none;
                    }

                    #changeCV {
                        display: none;
                    }
                }
            }

            #text-area {
                width: 81%;
                height: 100px;
                border-radius: 20px;
                resize: none;
            }

            .form-control {
                @include formControl;

                width: 70%;
            }

            label {
                flex: 1;
            }

            input {
                flex: 4;
                // margin-left: 100px;
            }

            select {
                flex: 4;
            }

            .button-div {
                display: flex;
                flex-direction: row-reverse;
            }

            .button {
                width: 30%;
            }
        }

        .job-applied-div {
            margin-top: 20px;
            // display: flex;
            // flex-direction: row;
            // gap: 20px;
            border: 1px solid $form-control-color;
            border-radius: 30px;
            
            .empty-msg {
                font-size: 1.1rem;
                font-weight: bold;
                width: 80vw;
                text-align: center;
            }
        }
    }

    .applied-detail, .profile-detail, .job-detail {
        z-index: 5;
        margin: 0;
        padding: 0;
        background: white;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 65vw;
        // height: 38vw;
        width: 55%;
        padding: 5px 10px 30px 10px;
        border: 1px solid $form-control-color;
        border-radius: 35px;

        .applier-detail-hide {
            position: relative;
            top: 1.3rem;
            left: 92%;
            background-color: $color-white;
            border: none;
            font-size: 1.5rem;

            i:hover {
                color: red;
            }
        }

        .applier-detail-container {
            
            // @include flexVertical;
            // padding: 20px;
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
            }

            .applier-detail-row {
                margin-left: 25px;
                display: flex;

                :nth-child(1) {
                    flex: 1;
                    // background: red;
                }

                :nth-child(2) {
                    flex: 4;
                    // background: blue;
                    // font-weight: bold;
                }

                p {
                    margin-bottom: 5px;
                    // font-size: 0.9rem;
                }

                .applier-detail-button {
                    padding: 1px 10px;
                    border-radius: 7px;
                }

                .applier-detail-button:hover {
                    background-color: white;
                }

                #text-area {
                    width: 100%;
                    height: 100px;
                    resize: none;
                    border: none;
                    margin-top: -15px;
                    position: relative;
                    font-size: 1rem;
                    padding-left: 3px;
                    border-radius: 0px;
                    margin-left: 5px;
                }

                .application-description {
                    width: 100%;
                    height: 50px;
                    resize: none;
                    border: none;
                    margin-top: -15px;
                    position: relative;
                    font-size: 1rem;
                    padding-left: 3px;
                    border-radius: 0px;
                    margin-left: 5px;
                }
            }

            &-button {
                // margin-top: 100px;
                margin-top: -10px;
                display: flex;
                // gap: 20px;
                // justify-content: space-around;
                justify-content: center;
                gap: 10px;

                button {
                    width: 45%;
                    height: 35px;
                    border-radius: 20px;
                    border: none;
                    // background-color: white;
                }

                .btn-reject {
                    // background-color: $color-secondary;
                }

                .btn-accept {
                    // background-color: rgb(25, 255, 25);
                }

                .btn-reject:hover {
                    border: 1px solid red;
                }

                .btn-accept:hover {
                    border: 1px solid green;
                }
            }

            .accepted {
                color: green;
            } 

            .rejected {
                color: red;
            }

            .pending {
                // margin-left: 25px;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 1px;
            }
        }
    }

    .profile-detail, .job-detail {
        z-index: 7;
    }

    .answer-modal {
        z-index: 10;
        width: 50vw;
        // height: 55vh;
    }
}

.company_applier__wrapper {
    margin: 2rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 7px;

    &__card {
        @include card;
        border: 1px solid $border-card;
        background: $color-white;
        box-shadow: $box-shadow;
        position: relative;
        // border-left: .2rem solid $color-green;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &--center {
            // width: 100%;
            height: auto;
            text-align: start;
            margin-left: 1rem !important;
            @include flexBetween;

            h1 {
                margin-top: 1.2rem;
                color: $color-dark !important;
            }

            p {
                // margin-left: 0.5rem;
            }

            &__part-1 {
                h1 {
                    font-size: 20px;
                    color: #6c757d !important;
                }
            }

            &__part-2 {
                margin-top: -7rem;

                i {
                    font-size: 2rem;

                    &:hover {
                        color: $color-danger;
                    }
                }
            }

            &__dropdown {
                display: none;
                position: absolute;
                width: 110px;
                list-style-type: none;
                border: 1px solid $form-control-color;
                border-radius: 5px;
                background: white;
                left: 79%;
                top: 25%;

                &_item {
                    padding: 5px;
                    display: flex;
                    column-gap: 5px;
                    width: 100%;
                    height: 30px;
                    background: white;
                    border: none;
                    align-items: center;

                    &:hover {
                        background: $form-control-color;
                    }
                }
            }
        }

        &:hover {
            box-shadow: 1px 8px 20px $color-secondary;
            transition: box-shadow .6s linear;
            // border-left: .4rem solid $color-green;
            cursor: pointer;
        }
    }
}

.modal {
    z-index: 5;
    margin: 0;
    padding: 0;
    background: white;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 65vw;
    // height: 38vw;
    width: 50%;
    // text-align: center;
    border: 1px solid $form-control-color;
    border-radius: 35px;

    .modal-container {
        @include flexVertical;
        padding: 20px;

        .button-div {
            display: flex;
            flex-direction: row-reverse;
            column-gap: 10px;
        }

        .button {
            width: 28%;
            text-align: center;
        }

        .button-cancel {
            background: #a9a9a9;
        }
    }
}